<main class="daddy"> <!-- generic parent container -->

    <!-- This section below contains the markup for the professional section grid -->
    <section class="grid animated bounceInLeft" id="mainGridProfessional">
        <div class="lipton"></div>
        <div class="mayfield"></div>
        <div class="shop"></div>
        <div class="tribe"></div>
        <div class="blank"></div>
        <div class="walmart"></div>
    </section>

    <!-- This section below contains the markup for the student section grid -->
    <section class="grid hidden" id="mainGridStudent">
        <div class="crest"></div>
        <div class="dmv"></div>
        <div class="nfm"></div>
        <div class="senheizer"></div>
    </section>

    <!-- This section below contains the markup for the about me section -->
    <section class="flex column hidden" id="aboutMe">
        <h1>Girl with the desire and talent</h1>
        <p>Topping ice cream pie jelly-o sweet roll carrot cake liquorice. Bonbon marzipan jujubes brownie candy canes
            gummies soufflé cookie tart. Candy canes liquorice pie sugar plum. Sugar plum sugar plum cotton candy tart
            gingerbread cookie chupa chups. Brownie candy canes sesame snaps chocolate bar sesame snaps. Candy
            gingerbread cotton candy chocolate bar icing. Chocolate pudding tiramisu dragée ice cream. Dessert macaroon
            jelly beans sugar plum sugar plum croissant jelly beans. Dessert tootsie roll biscuit icing cotton candy.
            Jelly-o liquorice toffee macaroon pastry oat cake candy cookie. Chocolate cake cake cheesecake cheesecake
            brownie chocolate bar marzipan. Lemon drops gummi bears marshmallow candy canes. Tiramisu jelly ice cream
            lemon drops marshmallow icing cotton candy.
            Fruitcake jelly jelly-o. Chocolate cake bear claw icing sweet roll marshmallow sweet roll cheesecake
            marshmallow halvah. Croissant candy powder icing. Carrot cake fruitcake powder tart bear claw chupa chups.
            Pastry marshmallow tiramisu cookie powder pastry jelly-o tootsie roll. Chocolate sweet roll bonbon macaroon
            gummies pudding danish cheesecake chocolate cake. Pudding jelly sweet caramels bonbon tootsie roll.
            Chocolate cake liquorice pastry tiramisu candy cookie. Candy canes fruitcake cake dessert chocolate bar
            danish chocolate dragée caramels. Muffin marzipan jujubes. Apple pie jelly-o chocolate tart jelly-o dessert
            toffee jujubes. Gingerbread pudding toffee pudding cheesecake gummi bears muffin bonbon ice cream.
        </p>
        <div id="iconRow" class="flex row">
            <img src="/images/icon-1thinker.svg" alt="thinker">
            <img src="/images/icon-2leader.svg" alt="leader">
            <img src="/images/icon-3designer.svg" alt="designer">
            <img src="/images/icon-4presenter.svg" alt="presenter">
        </div>
    </section>

    <!-- This section below contains the markup for the contact section -->
    <section id="contactMe" class="flex hidden">
        <form class="flex column" action="" method="post">
            <label for="name"></label>
            <input name="name" type="text" value="" placeholder="NAME"/>
            <label for="email"></label>
            <input name="email" type="text" value="" placeholder="EMAIL ADDRESS"/>
            <label for="message"></label>
            <textarea name="message" placeholder="Your message for me."></textarea>
            <button type="submit">send</button>
        </form>
    </section>

    <!-- This section below contains the markup for the modal sections -->
    <!-- crest modal -->
    <section id="modalContainer" class="flex hidden">
        <div class="wrapperCrest flex row">
            <div class="crestCamp flex column">
                <div id="coffee">
                    <img src="/images/portfolio/student/crest/final-coffee-cup.png" alt="Coffee Cup PNG">
                </div>
                <div id="cupcake">
                    <img src="/images/portfolio/student/crest/final-cupcake.png" alt="Cupcake PNG">
                </div>
                <div id="pie">
                    <img src="/images/portfolio/student/crest/final-pie.png" alt="Pie PNG">
                </div>
            </div>
            <div id="crestCampDisplay">
                <div id="coffeeBig" class="hidden">
                    <img src="/images/portfolio/student/crest/final-coffee-cup.png" alt="Coffee Cup PNG">
                </div>
                <div id="cupcakeBig" class="hidden">
                    <img src="/images/portfolio/student/crest/final-cupcake.png" alt="Cupcake PNG">
                </div>
                <div id="pieBig" class="hidden">
                    <img src="/images/portfolio/student/crest/final-pie.png" alt="Pie PNG">
                </div>
            </div>
        </div>
    </section>
</main>
