<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/css/style.css'/>
    <link rel='stylesheet' href='/stylesheets/animate.css'/>

</head>
<body>
<section>
    <div id="mainLogo" class="animated flipInX">
        <h1>
            <img class="flex" src="/images/header-logo.svg" alt="Amy Pedid - Art Director. Think big. Plan Well."/>
        </h1>
    </div>
    <div id="mainNav">
        <ul class="flex">
            <li><a id="pro" class="activeLink" href="#">Professional</a></li>
            <li><a id="student" href="#">Personal</a></li>

            <li><a id="about" href="#">About Me</a></li>
            <li><a id="contact" href="#">Contact</a></li>
        </ul>
    </div>
</section>
{{{body}}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascripts/main.js"></script>
</body>
</html>
